{% load django_vite %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Scoreman{% endblock %}</title>

  {% vite_asset 'web/index.js' %}
  {% comment %} Bootstrap icon is managed manually as font import path
  will break if we import it in vite {% endcomment %}
  <link rel="stylesheet" href="{% static 'bootstrap-icons/font/bootstrap-icons.css' %}">
</head>
<body>

{% block body %}{% endblock %}
  
</body>
</html>
