{% extends "scoreman/_base.html" %}

{% block title %}Landing | Scoreman{% endblock %}

{% block body %}
<div class="container pt-5">
  <h1 class="display-1 text-center">Scoreman</h1>
  <h2 class="display-6 text-center">Our score management tool</h2>
  
  <form action="{% url 'sheet_list' %}" method="GET">
    <div class="input-group flex-nowrap input-group-lg my-5">
      <span class="input-group-text">
        <i class="bi-search"></i>
      </span> 
      <input type="text" class="form-control" placeholder="Search" name="q">
    </div>
  </form>

  <p>Indexed {{ sheet_count }} sheets in system</p>

</div>
{% endblock %}
