{% extends 'scoreman/_base.html' %}

{% block title %}Sheet Tags | Scoreman{% endblock %}

{% block body %}
<div class="container">
  <h1>Sheet Tags ({{ object_list | length }})</h1>

  <table class="table">
    <thead>
      <th>ID</th>
      <th>Name</th>
    </thead>

    <tbody>
      {% for tag in object_list %}
      <tr>
        <td>{{ tag.id }}</td>
        <td style="color:{{ tag.color }}">{{ tag.name }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
