{% extends "scoreman/_base.html" %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block title %}Sheets search | Scoreman{% endblock %}

{% block body %}
<div class="container">
  <h1>Sheet list</h1>

  {% if filter %}
    {% crispy filter.form %}
  {% endif %}

  {% render_table table %}
</div>
{% endblock %}
